body, html {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

.grid-square {
  position: absolute;
  background-color: white;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}